*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Open Sans", sans-serif
}

.display_none {
    display: none !important;
}

.isActive {
    border-bottom: 3px solid #A78BFA !important;
    border-radius: 3px !important;
}

.standardContainer {
    max-width: 1920px;
    width: 100%;
}

.disabled {
    pointer-events: none;
}

@media(max-width: 1000px) {
    .example::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .example {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -----------------------------loadingSpinner------------------------------------------------------------- */

.loadingSpinner {
    animation: spin 2s linear infinite;
    width: 200px;
    height: 200px;
}

.loadingSpinnerMain {
    animation: spin 2s infinite;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.grey {
    background-color: #1d3642 !important;
}

.loadingSpinnerInButton {
    animation: spin 0.5s linear infinite;
    width: 25px;
    height: 25px;
}

/* ----------------------------------------- header ---------------------------------------------------------------- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #285ed9;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 630px) {
    .headerDiv {
        justify-content: center;
    }
}

@media(max-width: 460px) {
    .headerDiv {
        gap: 8px;
    }
}

header input {
    margin: 50px 35px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

@media(max-width: 460px) {
    header input {
        margin: 40px 0px;
        width: 150px;
    }
}

.imgAndH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 50px 35px;
    gap: 5px;
    cursor: pointer;
    box-shadow: 4px 4px #4350a4;
    border-radius: 20px;
    padding: 10px;
    background-color: #2657c9;
}

.imgAndH1:hover {
    box-shadow: 1px 1px #4350a4;
    position: relative;
    top: 2px;
    left: 2px;
}

@media(max-width: 460px) {
    .imgAndH1 {
        margin: 0;
    }
}

.imgAndH1 img {
    width: 60px;
}

.imgAndH1 h1 {
    font-size: 50px;
}

@media(max-width: 630px) {
    .imgAndH1 img {
        width: 50px;
    }

    .imgAndH1 h1 {
        font-size: 40px;
    }
}

@media(max-width: 510px) {
    .imgAndH1 img {
        width: 40px;
    }

    .imgAndH1 h1 {
        font-size: 30px;
    }
}

@media(max-width: 460px) {
    .imgAndH1 img {
        width: 34px;
    }

    .imgAndH1 h1 {
        font-size: 24px;
    }
}

#pokemoSearchInput {
    padding-left: 10px;
}

/* -------------------------------------------- renderContent------------------------------------------------------- */

.renderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
    min-height: calc(100vh - 127px)
}

@media(max-width: 630px) {
    .renderContent {
        padding: 30px;
    }
}

.renderSection {
    background: linear-gradient(to bottom right, #6EE7B7, #A78BFA);
    display: flex;
    justify-content: center;
    align-items: center;
}

.singlePokedexCard {
    background-color: #1d3642;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(10px 10px 5px #3e807f);
}

.singlePokedexCard:hover {
    transform-style: preserve-3d;
    transition: 0.3s;
    transform: scale(1.1);
    filter: drop-shadow(13px 13px 5px #3e807f);
}

@media(max-width: 1000px) {
    .singlePokedexCard:hover {
        transform: scale(1);
        filter: drop-shadow(10px 10px 5px #3e807f);
    }
}

.pokemonImgClass {
    width: 300px;
}

@media(max-width: 510px) {
    .pokemonImgClass {
        width: 160px;
    }
}

@media(max-width: 425px) {
    .pokemonImgClass {
        width: 130px;
    }
}

.pokeCardTypes {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.pokeCardTypes img {
    width: 50px;
    padding: 9px;
    border-radius: 50%;
}

@media(max-width: 425px) {
    .pokeCardTypes img {
        width: 40px;
    }
}

.singlePokedexCard h3 {
    color: white;
}

@media(max-width: 425px) {
    .singlePokedexCard h3 {
        font-size: 14px;
    }
}

.pokemonBackground {
    background-color: #04c904;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeCardHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.pokemonNotFoundDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pokemonNotFoundDiv h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.pokemonNotFoundDiv img {
    width: 80%;
}

/* -------------------------------------------button section -------------------------- */

#buttonSection {
    display: flex;
    justify-content: flex-start;
    background-color: #285ed9;
    gap: 8px;
    padding-left: 20px;
}

@media(max-width: 630px) {
    #buttonSection {
        justify-content: center;
        padding: 0;
    }
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    margin: 20px 0;
    transition: 0.2s;
}

@media(max-width: 630px) {
    button {
        font-size: 17px;
    }
}

@media(max-width: 510px) {
    button {
        font-size: 14px;
    }
}

@media(max-width: 460px) {
    button {
        padding: 8px 7px;
    }
}

@media(max-width: 380px) {
    button {
        font-size: 12px;
        padding: 8px 7px;
    }
}

@media(max-width: 330px) {
    button {
        font-size: 11px;
    }
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* ------------------------------------------ Footer-------------------------------------------------------- */


footer {
    background-color: #285ed9;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    margin-top: auto;
}

footer img {
    margin: 15px 0 15px 0;
    width: 50px;
    height: 50px;
}