*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Open Sans", sans-serif
}

.display_none {
    display: none !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -----------------------------loadingSpinner------------------------------------------------------------- */

.loadingSpinner {
    animation: spin 2s linear infinite;
    width: 200px;
    height: 200px;
}

.grey {
    background-color: #1d3642 !important;
}

.loadingSpinnerInButton {
    animation: spin 0.5s linear infinite;
    width: 25px;
    height: 25px;
}

/* ----------------------------------------- header ---------------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #285ed9;
}

header input {
    margin: 50px 35px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

.imgAndH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px 35px;
    gap: 5px;
    cursor: pointer;
}

.imgAndH1 img {
    width: 60px;
}

.imgAndH1 h1 {
    font-size: 50px;
}

#pokemoSearchInput {
    padding-left: 10px;
}

/* -------------------------------------------- renderContent------------------------------------------------------- */

.renderContent {
    background: linear-gradient(to bottom right, #6EE7B7, #A78BFA);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
    min-height: calc(100vh - 127px)
}

.singlePokedexCard {
    background-color: #1d3642;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(10px 10px 5px  #3e807f);
}

.singlePokedexCard:hover {
    transform-style: preserve-3d;
    transition: 0.3s;
    transform: scale(1.1);
    filter: drop-shadow(13px 13px 5px #3e807f);
}

.pokemonImgClass {
    width: 200px;
}

.pokeCardTypes {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.pokeCardTypes img {
    width: 50px;
    padding: 9px;
    border-radius: 50%;
}


.singlePokedexCard h3 {
    color: white;
}

.pokemonBackground {
    background-color: #04c904;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeCardHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

/* -------------------------------------------button section -------------------------- */

#buttonSection {
    display: flex;
    background-color: #285ed9;
    gap: 8px;
    padding-left: 20px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    margin: 20px 0;
    transition: 0.2s;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* ------------------------------------------ Footer-------------------------------------------------------- */


footer {
    background-color: #285ed9;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    margin-top: auto;
}

footer img {
    margin: 15px 0 15px 0;
    width: 50px;
    height: 50px;
}