#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard {
    background-color: rgb(73, 208, 176);
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -5%;
}

@media(max-width: 480px) {
    .pokemonCard {
        transform: scale(0.9);
    }
}

@media(max-width: 400px) {
    .pokemonCard {
        transform: scale(0.8);
    }
}

.arrowForwardBackwardClose {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
}

.arrowForwardBackwardClose img {
    border: solid 2px rgba(0, 0, 0, 0);
    width: 32px;
}

.arrowForwardBackwardClose img:hover {
    border-radius: 50%;
    border: solid 2px rgb(231, 204, 83);
}

@media(max-width: 1000px) {
    .arrowForwardBackwardClose img:hover {
        border: solid 2px rgba(231, 204, 83, 0);
    }
}

.cardCategorieSection {
    background-color: white;
    border-radius: 20px;
    padding: 40px 0px;
    width: 100%;
    position: absolute;
    top: 440px;

}

@media(max-width: 480px) {
    .cardCategorieSection {
        top: 430px;
    }
}

@media(max-width: 370px) {
    .cardCategorieSection {
        top: 420px;
    }
}

.cardCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.cardCategories h4 {
    font-size: 18px;
    border-bottom: 3px solid white;
    border-radius: 2px;
}

.cardCategories h4:hover {
    border-bottom: 3px solid black;
    border-radius: 3px;
}

@media (max-width: 1000px) {
    .cardCategories h4:hover {
        border-bottom: 3px solid white;
        border-radius: 3px;
    }
}

.overlayPokeImg {
    width: 300px;
    position: relative;
    top: 1px;
    z-index: 2;
}

@media(max-width: 370px) {
    .overlayPokeImg {
        width: 280px;
    }
}

.overlayPokeIntroductionParent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 30px;
}

.overlayPokeIntroductionParent {
    color: white;
}

.overlayPokeIntroductionParent h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.renderTypesOverlay {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.renderTypesOverlay p {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 50px;
    padding: 5px 10px;
    border: solid 1px white;
}

.renderCategorieContent {
    margin-top: 10px;
    padding: 0 20px;
}

.renderCategorieContent table {
    width: 100%;
}

.renderCategorieContent table tbody td:first-child {
    font-weight: 600;
    padding-right: 5px;
    width: 70px;
}

.statName {
    font-weight: 600;
    width: 40%;
}

.divRow {
    display: flex;
    align-items: center;
    gap: 2%;
}

.baseStats {
    width: 10%;
}

.progressBar {
    width: 55%;
    border-radius: 25px;
    border: solid 1px black;
}

.progressColor {
    height: 10px;
    border-radius: 25px;
}

.evolutionImgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 380px) {
    .evolutionImgs img {
        width: 80px;
    }
}

@media(max-width: 330px) {
    .evolutionImgs img {
        width: 75px;
        gap: 10px;
    }
}

.evolutionImgs img {
    width: 100px;
}